.footer{
  @apply bg-[#1E212C] text-[#9D9EA3];
  flex: 0 0 auto;
  a:hover{
    @apply text-white;
    svg{
      @apply fill-white;
    }
  }
  ul{
    li{
      @apply text-white font-bold text-[16px] leading-[150%];

    }
    .socialLink{
      @apply font-normal text-[16px] text-[#9D9EA3] leading-[160%] mt-2;
      &:nth-child(2){
        @apply  mt-3;
      }
    }
  }
  label{
    @apply text-white font-bold text-[16px] leading-[150%];
    position: relative;
    input{
      @apply mt-6 py-2 px-3 w-full;
      background: rgba(255, 255, 255, 0.12);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 4px;
    }
    svg{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 14px;
    }
    p{
      @apply text-white font-normal text-[10px] leading-[150%] mt-3;
    }
  }
}
.topBar{
  @apply py-20;
}
.bottomBar{
  @apply w-full bg-[#292C37] py-5;
}

.wrapper{
  @apply grid grid-cols-[300px_80px_120px_160px_280px] justify-between -lg:grid-cols-[repeat(auto-fill,_minmax(auto,_300px))] -lg:gap-5 -lg:justify-center;
  display: grid;
  justify-content: space-between;
}

.socials{
  @apply flex items-center justify-between mt-10;
}

.description{
  @apply font-normal text-[12px] leading-[150%] mt-6;
}

.wrapperBottomBar{
  @apply flex items-center justify-between -md:flex-col;
  p{
    @apply flex items-center flex-wrap -sm:justify-center;
    svg{
      @apply mx-1;
    }
  }
  button{
    @apply font-bold text-[14px] text-[#9D9EA3] leading-[150%];
  }
}