@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

body, html {
    box-sizing: border-box;
    height: 100%;
}

.container {
    @apply max-w-7xl my-0 mx-auto px-4;
}

.title {
    @apply text-[#1E212C] font-black text-lg;
}

.description {
    @apply font-normal text-[#424551] text-[16px];
}
